#main-page {
  width: 50% !important;
  height: 9rem !important;
  /* margin: 5rem auto 4rem auto !important; */
  margin: 12rem auto 2rem auto !important;
  border-radius: 2rem !important;
  font-size: 3rem !important;
}

.search {
  width: 70% !important;
}

input[type="search"] {
  padding: 1.1rem !important;
  font-size: 1.7rem !important;
  border-radius: 0.7rem 0 0 0.7rem !important;
}

#container {
  width: 5rem !important;
  border-radius: 0 0.7rem 0.7rem 0 !important;
  padding: 0.3rem !important;
}

.button {
  width: 2.8rem !important;
  height: 2.8rem !important;
}

input[type="search"]::-webkit-search-cancel-button {
  height: 1.2rem !important;
  width: 1.2rem !important;
}

#error-container img {
  width: 1.8rem !important;
  height: 1.8rem !important;
  margin-left: 0.5rem !important;
}

#error-container {
  margin-right: 4.9rem !important;
  margin-top: 0.7rem !important;
  margin-bottom: 1rem !important;
}

p {
  font-size: 1.7rem !important;
}

main {
  flex-direction: row !important;
  justify-content: space-between !important;
}

main section{
  margin-left: 3rem;
}

