main {
    flex-direction: column;
    height: 90vh;
}


form {
    flex-direction: column;
}


main,
form,
form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}


p {
    color: black !important;
    margin-bottom: 3rem;
}


main section a, button {
    background: #2f8ff9;
    font-size: 1.6rem;
    border: none;
    padding: 0.5rem 2.5rem;
    border-radius: 0.27rem;
    text-decoration: none;
    color: white;
}


main section a:first-of-type {
    margin-left: 3rem;
}


.form-group label {
    width: 8rem;
    display: inline-block;
}


.form-group input {
    width: 20rem;
    font-size: 1.5rem;
    padding: .4rem;
}


button[type="submit"],
h3 {
    margin: 3rem 0;
}

p a{
    text-decoration: none;
    color: #2f8ff9;
    font-weight: bold;
}

p a:hover{
    color: #062aae !important;
}