@font-face {
  font-family: "titr";
  src: url("../../SE/fonts/B-Titr.ttf");
}

#main-page {
  background: #062aae;
  color: white;
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 5rem;
  margin: 2rem auto 2rem auto;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  font-family: titr;
}

.search {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

input[type="search"] {
  width: 100%;
  border: 3px solid #2f8ff9;
  border-right: none;
  padding: 1.1rem;
  font-size: 1.5rem;
  border-bottom-left-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  outline: none;
  display: inline-block;
}

input[type="image"] {
  border-radius: 0 !important;
  height: 3rem;
}

#search-container div {
  width: 6.5rem;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  background: #3acdff;
  padding: 0.3rem;
  display: inline-block;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-container a {
  background: #3acdff;
  width: 6.5rem;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  z-index: 10;
  width: 2.5rem;
  height: 2.5rem;
}

::placeholder {
  color: rgb(174, 174, 174);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgb(174, 174, 174);
}

::-ms-input-placeholder {
  color: rgb(174, 174, 174);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.2rem;
  width: 1.2rem;
  background-image: url("../../SE/images/cross.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

p {
  color: rgb(203, 2, 2);
  font-size: 1.5rem;
}

.show {
  opacity: 1 !important;
}

#search-container {
  display: flex;
  height: 4.2rem;
}

#error-container img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}

#error-container {
  display: flex;
  align-items: center;
  margin-right: 4.9rem;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  opacity: 0;
  transition: all 0.5s;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto 1rem auto;
  width: 15rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hide {
  opacity: 0 !important;
}

#query {
  display: block;
}

#search-container div:nth-child(2) {
  border-radius: 0 !important;
  border-right: 2px white solid;
  background: #2f8ff9 !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(245, 245, 245);
  color: black;
  text-align: center;
  border-radius: 4px;
  padding: 8px 5px;
  font-size: 1.4rem;
  width: 11rem;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 105%;

  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#options {
  width: 11rem;
  font-size: 1.7rem;
  color: #062aae;
  padding: 0.3rem;
  border: none !important;
  border-top: 3px solid #2f8ff9 !important;
  border-bottom: 3px solid #2f8ff9 !important;
  border-left: 3px solid #2f8ff9 !important;
  /* background-size: 5rem; */
  background-image: url("../../SE/images/down.svg") !important;
}

#options-container {
  padding: 1.2rem;
}

#options:focus-within {
  outline: none;
}

#options:hover,
option:hover,
#search-container div:hover {
  cursor: pointer;
}
