main {
    margin: 10rem auto;
}


main article {
    display: flex;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

button {
    background: #2f8ff9;
    font-size: 1.6rem;
    border: none;
    padding: 0.1rem 2rem;
    border-radius: 0.27rem;
    text-decoration: none;
    color: white;
}

textarea {
    margin: 3rem 0;
    width: 50rem;
    font-size: 1.5rem;
    padding: 1rem;
}

article div input:hover,
article div label:hover {
    cursor: pointer;
}

article {
    margin-bottom: 2rem;
}


input[type="file"] {
    font-size: 1.2rem;
    margin: 3rem auto;
    width: 16rem;
}

#error-container {
    justify-content: center;
    color: rgb(203, 2, 2);
    margin: 2rem auto;
}