{% extends "base.html" %}
{% load static %}

{% block title %}
{{article.title}}
{% endblock title %}



{% block css_files %}
<link href="{% static 'SE/css/result_details_mobile.css' %}" rel="stylesheet">
<link href="{% static 'SE/css/result_details_tablet.css' %}" rel="stylesheet" media="screen and (min-width  768px)">
<link href="{% static 'SE/css/result_details_desktop.css' %}" rel="stylesheet" media="screen and (min-width  992px)">
{% endblock css_files %}



{% block content %}


<div id="loader-cotainer"></div>
<div class="loader" id="loader"></div>

<div id="main-container">
    <div id="right" style="padding: 7rem !important;">        

        <section id="metadata">
            <div class="row">
                <div class="first-col">
                    عنوان:
                </div>
                <div class="second-col" id="departments">
                    {{article.title}}
                </div>
            </div>

            <div class="row">
                    <div class="first-col">
                    نوع:
                </div>
                <div class="second-col">
                    {{article.article_type}}
                </div>
            </div>

            
            {% if authors %}
                <div class="row">
                    <div class="first-col">
                        نویسندگان:
                    </div>
                    <div class="second-col">
                        {% for author in authors %}
                            {{author.name}}
                            {% if not forloop.last %}
                                -
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

{% comment %} 
            {% if article.executor %}
                <span>اجراکننده:</span>
                <div>{{article.executor}}</div>
                <br>
            {% endif %}

            {% if article.serial %}
                <span>شماره مسلسل:</span>
                <div>{{article.serial}}</div>
                <br>
            {% endif %}

            {% if article.journal_name %}
                <span>نام نشریه:</span>
                <div>{{article.journal_name}}</div>
                <br>
            {% endif %}

            {% if article.issue %}
                <span>موضوع:</span>
                <div>{{article.issue}}</div>
                <br>
            {% endif %}
            
            {% if article.start_page %}
                {% if article.end_page %}
                <span>صفحات:</span>
                    <div>{{article.end_page}}-{{article.start_page}}</div>
                    <br>
                {% endif %}
            {% endif %}

            {% if article.volume %}
                <span>جلد:</span>
                <div>{{article.volume}}</div>
                <br>
            {% endif %}

            {% if article.number %}
                <span>شماره:</span>
                <div>{{article.number}}</div>
                <br>
            {% endif %}       
 {% endcomment %}

        </section>
    </div>
    <div id="left">
        <p>
            جزئیات مقاله
        </p>
        <div class="line"></div>
    
        {% if article.end_date %}
        <div class="row">
            <div class="first-col">
                تاریخ پایان:
            </div>
            <div class="second-col">
                {{article.end_date}}
            </div>
        </div>
        {% endif %}

        {% if article.year %}
            <div class="row">
                <div class="first-col">
                    سال:
                </div>
                <div class="second-col">
                    {{article.year}}
                </div>
            </div>
        {% endif %}

        {% if article.seminar %}
            <div class="row">
                <div class="first-col">
                    سمینار:
                </div>
                <div class="second-col">
                    {{article.seminar}}
                </div>
            </div>
        {% endif %}

        {% if article.cites %}
            <div class="row">
                <div class="first-col">
                    ارجاعات:
                </div>
                <div class="second-col">
                    {{article.cites}}
                </div>
            </div>
        {% endif %}

        {% if article.references %}
            <div class="row">
                <div class="first-col">
                    منابع:
                </div>
                <div class="second-col">
                    {{article.references}}
                </div>
            </div>
        {% endif %}

    </div>
</div>

<main>
    {% if article.abstract %}
        <div class="row">
            <div class="first-col">
                چکیده:
            </div>
            <div class="second-col">
                {{article.abstract}}
            </div>
        </div>
    {% endif %}
</main>

{% endblock content %}



{% block js_files %}
    <script src="{% static 'SE/js/result-details.js' %}" type="text/javascript"></script>
{% endblock js_files %}