{% extends "base.html" %}
{% load static %}

{% block title %}
راهنما
{% endblock title %}



{% block css_files %}
<link href="{% static 'SE/cssguide_mobile.css' %}" rel="stylesheet">
<link href="{% static 'SE/cssguide_tablet.css' %}" rel="stylesheet" media="screen and (min-width : 768px)">
<link href="{% static 'SE/cssguide_desktop.css' %}" rel="stylesheet" media="screen and (min-width : 992px)">
{% endblock css_files %}


{% block content %}
<main>
    <p>
        راهنما:
    </p>

    <article>
        در صفحه اصلی که پس از راه‌اندازی سرور با آدرس 
        <a href="{% url 'index-page' %}" target="_blank" dir="ltr">
        http://127.0.0.1:8000/search-engine/ 
        </a>
        در دسترس می‌باشد؛ امکان جست‌وجوی ساده وجود دارد.
        این جست‌وجو به انتخاب کاربر روی گزارش‌ها و دیگر منابع انجام می‌پذیرد (منابع دیگر به زودی به سیستم اضافه می‌شوند).
        جست‌وجوی ساده به صورت واژگانی است.
    </article>

    <article>
        با کلیک روی علامت مثبت، کاربر به صفحه جست‌وجوی پیشرفته با آدرس
        <a href="{% url 'advanced-search-page' %}" target="_blank" dir="ltr">
            http://127.0.0.1:8888/search-engine/advanced-search/
        </a>
        منتقل می‌شود.
        </article>
    
    <article>
        در صفحه جست‌وجوی پیشرفته امکانات بیشتری در اختیار کاربر قرار می‌گیرد. در کادر بالای صفحه همانند صفحه جست‌وجوی ساده محلی برای تایپ پرسمان موجود است. در صورت انتخاب جست‌وجوی واژگانی چهار کادر دیگر نیز قابل نوشتن می‌باشند که توضیحات آن ذکر خواهد شد:
    </article>

    <article>
        در کادر اول، تمام کلمات نوشته‌شده با عبارت AND جست‌وجو می‌شوند.
    </article>
    
    <article>
        در کادر دوم، تمام کلمات نوشته‌شده با عبارت OR جست‌وجو می‌شوند.
    </article>

    <article>
        در کادر سوم، تمام کلمات نوشته‌شده با عبارت NOT جست‌وجو می‌شوند.
    </article>
    
    <article>
        در کادر چهارم، تمام کلمات نوشته‌شده به صورت دقیق جست‌وجو می‌شوند؛ در نتایج برگردانده‌شده این کلمات به همین ترتیب مشاهده خواهندشد.
    </article>
    
    <article>
        در حال حاضر امکان جست‌وجو روی سه فیلد عنوان، کلیدواژه و چکیده وجود دارد. 
    </article>
    
    <article>
        در ستون سوم، امکان انتخاب بازه زمانی انتشار گزارش/نشریه وجود دارد. در صورت عدم انتخاب هر کدام از دو سر بازه، این مقدار برابر با کمینه و بیشینه (به ترتیب برای ابتدا و انتها) قرار می‌گیرد.
    </article>
    
    <article>
        در ستون چهارم، در نام اشخاص وابسته به گزارش/نشریه جست‌وجو می‌شود. با کلیک روی علامت مثبت می‌توان تا سه شخص را اضافه نمود. محتویات هر کدام از کادرها به عنوان نام یک شخص در نظر گرفته شده و جست‌وجو می‌شود. 
    </article>
    
    <article>
        در ستون پنجم، امکان جست‌وجو روی شماره مسلسل گزارش‌ها وجود دارد. گزارشاتی که شماره مسلسل آن‌ها شامل شماره مسلسل مورد جست‌وجو باشد برگردانده‌ می‌شود.  
    </article>
    
    <article>
        همچنین، امکان جست‌وجو روی شماره مسلسل به تنهایی و اشخاص به تنهایی (با خالی گذاشتن سایر موارد)
        موجود است. 
    </article>
    
    <article>
        برای انجام جست‌وجو، باید حداقل یکی از فیلدهای کادر بالای صفحه،
        چهار فیلد پایین صفحه 
        (مربوط به جست‌وجوی واژگانی)،
        اشخاص و شماره مسلسل برای جست‌وجو مقدار داشته باشند.
    </article>
    
    <article>
        در جست‌وجوی واژگانی کلمات عیناً مورد جست‌وجو قرار می‌گیرند و در جست‌وجوی معنایی محتوا جست‌وجو می‌شود.
    </article>

    <article>
        پس از وارد کردن جست‌وجو و فشردن دکمه جست‌وجو در پایین صفحه، کاربر به صفحه نمایش نتایج به آدرس
        <a href="" target="_blank" dir="ltr">
            http://127.0.0.1:8888/search-engine/search
        </a>
        منتقل می‌شود.
        در این صفحه، امکان فیلتر کردن نتایج طبق دفاتر مرکز پژوهش‌های مجلس شورای اسلامی (13 دفتر) موجود است.
        مقابل نام هر دفتر، تعداد نتیجه یافت‌شده نمایش داده می‌شود. 
    </article>

    <article>
        در صفحه نمایش نتایج، می‌توان نتایج را طبق معیار های تاریخ انتشار و درجه شباهت با پرسمان (فقط قابل استفاده در جست‌وجوی معنایی)
        مرتب‌سازی نمود.
    </article>

    <article>
        جزئیات مختصر هر نتیجه در یک کادر نمایش داده می‌شود. اگر لینک دانلود موجود باشد، امکان دانلود در اختیار کاربر قرار می‌گیرد. با کلیک روی هر نتیجه، کاربر به صفحه نمایش جزئیات آن منتقل می‌شود.
    </article>

    <article>

    </article>

    <article>

    </article>

    <article>

    </article>
    
</main>  
{% endblock content %}
