{% extends "base.html" %}
{% load static %}

{% block title %}
کشف تقلب
{% endblock title %}



{% block css_files %}
<link href="{% static 'SE/css/search_results_mobile.css' %}" rel="stylesheet">
<link href="{% static 'SE/css/search_results_tablet.css' %}" rel="stylesheet" media="screen and (min-width : 768px)">
<link href="{% static 'SE/css/search_results_desktop.css' %}" rel="stylesheet" media="screen and (min-width : 992px)">
{% endblock css_files %}


{% block content %}

<div id="main">
    <div class="top-row">
        <div class="right-col">
            متن ورودی:
        </div>

        <div class="left-col">
            {{input_text}}                
        </div>
    </div>

    <div class="top-row">
        <div class="right-col">
            کلمات کلیدی ورودی:
        </div>

        <div class="left-col">
            {% for keyword in input_keywords %}
                    {{keyword}}
                    {% if not forloop.last %}
                        -
                    {% endif %}
            {% endfor %}
        </div>
    </div>
    {% include "SE/includes/results_with_compare.html" %}

</div>


{% endblock content %}

{% block js_files %} 
{% endblock js_files %}